In [72]:
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path
pd.set_option('display.max_columns', 50)

In [76]:
# Class to load data

class CrashDataLoader():
    def __init__(self, path_list = ["./data/2000 to 2005 ACCIDENT","./data/ACCIDENT"]):
        # all functions will be dependant on path_list order
        self.path_list = path_list
        print("Loading data from: \n{}".format("\n".join(path_list)))
    def load_file(self, file_name):
        df_list = [pd.read_csv(Path(folder_path) / file_name) for folder_path in self.path_list]
        data_df = pd.concat(df_list).reset_index(drop=True)
        data_df.columns = data_df.columns.str.lower()
        return data_df

    def load_selected_features(self):

        accident_df = self.load_file("ACCIDENT.csv")
        location_df = self.load_file("ACCIDENT_LOCATION.csv")
        atmospheric_df = self.load_file("ATMOSPHERIC_COND.csv")
        node_df = self.load_file("NODE.csv")
        person_df = self.load_file("PERSON.csv")
        road_surface_cond = self.load_file("ROAD_SURFACE_COND.csv")
        vehicle = self.load_file("VEHICLE.csv")

        
        accident_df = accident_df.fillna({"accidenttime":"00.00.00"})	

        time_format = "%d/%m/%Y_%H:%M:%S"
        accident_df["accident_datetime"] = pd.DatetimeIndex(
            pd.to_datetime((accident_df["accidentdate"]+"_"+accident_df["accidenttime"]).str.replace(".", ":").str.strip(),
                           format = time_format))
        accident_df = accident_df.set_index("accident_datetime", drop=True)
        accident_df = accident_df.sort_values(by = ["accident_datetime", "accident_no"])

        org_row_count = len(accident_df)
        accident_df = accident_df.drop_duplicates(subset=['accidentdate', 'accidenttime', 'node_id'], keep="last")
        print("Dropped {} duplicate rows".format(org_row_count - len(accident_df)))

        accident_df = accident_df[["accident_no","node_id","light_condition","road_geometry","severity","speed_zone"]]

        return accident_df

In [77]:
dataLoader = CrashDataLoader()

Loading data from:
./data/2000 to 2005 ACCIDENT
./data/ACCIDENT

In [78]:
data_df = dataLoader.load_selected_features()

C:\Users\HanHsin\AppData\Local\Temp\ipykernel_18668\3409565494.py:9: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(Path(folder_path) / file_name) for folder_path in self.path_list]
C:\Users\HanHsin\AppData\Local\Temp\ipykernel_18668\3409565494.py:9: DtypeWarning: Columns (10,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(Path(folder_path) / file_name) for folder_path in self.path_list]
C:\Users\HanHsin\AppData\Local\Temp\ipykernel_18668\3409565494.py:9: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(Path(folder_path) / file_name) for folder_path in self.path_list]
C:\Users\HanHsin\AppData\Local\Temp\ipykernel_18668\3409565494.py:9: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(Path(folder_path) / file_name) for folder_path in self.path_list]
C:\Users\HanHsin\AppData\Local\Temp\ipykernel_18668\3409565494.py:9: DtypeWarning: Columns (0,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(Path(folder_path) / file_name) for folder_path in self.path_list]
C:\Users\HanHsin\AppData\Local\Temp\ipykernel_18668\3409565494.py:9: DtypeWarning: Columns (6,9,10,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(Path(folder_path) / file_name) for folder_path in self.path_list]
C:\Users\HanHsin\AppData\Local\Temp\ipykernel_18668\3409565494.py:9: DtypeWarning: Columns (0,3,11,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(Path(folder_path) / file_name) for folder_path in self.path_list]
C:\Users\HanHsin\AppData\Local\Temp\ipykernel_18668\3409565494.py:9: DtypeWarning: Columns (3,25,26,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(Path(folder_path) / file_name) for folder_path in self.path_list]

Dropped 64 duplicate rows

In [79]:
accident_df = dataLoader.load_file("ACCIDENT.csv")
location_df = dataLoader.load_file("ACCIDENT_LOCATION.csv")
atmospheric_df = dataLoader.load_file("ATMOSPHERIC_COND.csv")
node_df = dataLoader.load_file("NODE.csv")
person_df = dataLoader.load_file("PERSON.csv")
road_surface_cond = dataLoader.load_file("ROAD_SURFACE_COND.csv")
vehicle = dataLoader.load_file("VEHICLE.csv")


accident_df = accident_df.fillna({"accidenttime":"00.00.00"})	

time_format = "%d/%m/%Y_%H:%M:%S"
accident_df["accident_datetime"] = pd.DatetimeIndex(
    pd.to_datetime((accident_df["accidentdate"]+"_"+accident_df["accidenttime"]).str.replace(".", ":").str.strip(),
                   format = time_format))
accident_df = accident_df.set_index("accident_datetime", drop=True)
accident_df = accident_df.sort_values(by = ["accident_datetime", "accident_no"])

org_row_count = len(accident_df)
accident_df = accident_df.drop_duplicates(subset=['accidentdate', 'accidenttime', 'node_id'], keep="last")
print("Dropped {} duplicate rows".format(org_row_count - len(accident_df)))

accident_df = accident_df[["accident_no","node_id","light_condition","road_geometry","severity","speed_zone"]]

C:\Users\HanHsin\AppData\Local\Temp\ipykernel_18668\3409565494.py:9: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(Path(folder_path) / file_name) for folder_path in self.path_list]
C:\Users\HanHsin\AppData\Local\Temp\ipykernel_18668\3409565494.py:9: DtypeWarning: Columns (10,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(Path(folder_path) / file_name) for folder_path in self.path_list]
C:\Users\HanHsin\AppData\Local\Temp\ipykernel_18668\3409565494.py:9: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(Path(folder_path) / file_name) for folder_path in self.path_list]
C:\Users\HanHsin\AppData\Local\Temp\ipykernel_18668\3409565494.py:9: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(Path(folder_path) / file_name) for folder_path in self.path_list]
C:\Users\HanHsin\AppData\Local\Temp\ipykernel_18668\3409565494.py:9: DtypeWarning: Columns (0,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(Path(folder_path) / file_name) for folder_path in self.path_list]
C:\Users\HanHsin\AppData\Local\Temp\ipykernel_18668\3409565494.py:9: DtypeWarning: Columns (6,9,10,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(Path(folder_path) / file_name) for folder_path in self.path_list]
C:\Users\HanHsin\AppData\Local\Temp\ipykernel_18668\3409565494.py:9: DtypeWarning: Columns (0,3,11,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(Path(folder_path) / file_name) for folder_path in self.path_list]
C:\Users\HanHsin\AppData\Local\Temp\ipykernel_18668\3409565494.py:9: DtypeWarning: Columns (3,25,26,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(Path(folder_path) / file_name) for folder_path in self.path_list]

Dropped 64 duplicate rows

In [109]:
accident_df

,accident_no,node_id,light_condition,road_geometry,severity,speed_zone
accident_datetime,,,,,,
2000-01-01 00:10:00,52000000868,45897,3,2,3,60
2000-01-01 00:25:00,22000006737,38673,3,1,3,60
2000-01-01 00:30:00,12000002917,240,3,2,2,60
2000-01-01 00:30:00,22000002244,44474,3,1,3,60
2000-01-01 01:20:00,12000002253,35397,3,1,3,60
...,...,...,...,...,...,...
2020-11-01 12:00:00,T20200019253,665836,1,5,2,80
2020-11-01 12:11:00,T20200019239,665835,1,5,2,50
2020-11-01 15:30:00,T20200019247,665912,1,5,2,999
2020-11-01 18:00:00,T20200019250,226603,1,1,2,60
2020-11-04 01:30:00,T20200019417,666096,3,5,2,80

In [115]:
data_df = accident_df.reset_index()

In [116]:
# Join road type info
data_df = data_df.merge(location_df[["accident_no","road_type","road_type_int"]],how="left", left_on="accident_no", right_on="accident_no")
data_df

,accident_datetime,accident_no,node_id,light_condition,road_geometry,severity,speed_zone,road_type,road_type_int
0,2000-01-01 00:10:00,52000000868,45897,3,2,3,60,NaN,NaN
1,2000-01-01 00:25:00,22000006737,38673,3,1,3,60,ROAD,ROAD
2,2000-01-01 00:30:00,12000002917,240,3,2,2,60,STREET,STREET
3,2000-01-01 00:30:00,22000002244,44474,3,1,3,60,STREET,STREET
4,2000-01-01 01:20:00,12000002253,35397,3,1,3,60,STREET,STREET
...,...,...,...,...,...,...,...,...,...
306700,2020-11-01 12:00:00,T20200019253,665836,1,5,2,80,HIGHWAY,ROAD
306701,2020-11-01 12:11:00,T20200019239,665835,1,5,2,50,AVENUE,STREET
306702,2020-11-01 15:30:00,T20200019247,665912,1,5,2,999,ROAD,ROAD
306703,2020-11-01 18:00:00,T20200019250,226603,1,1,2,60,ROAD,BOULEVARD
306704,2020-11-04 01:30:00,T20200019417,666096,3,5,2,80,ROAD,COURT

In [135]:
atmospheric_df

         accident_no  atmosph_cond  atmosph_cond_seq atmosph cond desc
0       12000000389              7                 1      Strong winds
1       12000000554              1                 1             Clear
2       12000000555              1                 1             Clear
3       12000000559              1                 1             Clear
4       12000000586              1                 1             Clear
...              ...           ...               ...               ...
310954  T20200019239             1                 0             Clear
310955  T20200019247             1                 1             Clear
310956  T20200019250             1                 0             Clear
310957  T20200019253             1                 1             Clear
310958  T20200019417             1                 0             Clear

[310959 rows x 4 columns]

In [133]:
with pd.option_context('display.min_rows',60, 'display.max_rows',60): 
    display(atmospheric_df[atmospheric_df[["accident_no","atmosph_cond","atmosph_cond_seq"]].duplicated(subset="accident_no", keep=False)])

         accident_no  atmosph_cond  atmosph_cond_seq atmosph cond desc
430     12000008180              2                 1           Raining
431     12000008180              7                 2      Strong winds
949     12000014496              1                 1             Clear
950     12000014496              2                 2           Raining
1089    12000016203              1                 1             Clear
1090    12000016203              7                 2      Strong winds
1333    12000018785              2                 1           Raining
1334    12000018785              7                 2      Strong winds
1702    12000023313              1                 1             Clear
1703    12000023313              7                 2      Strong winds
1873    12000025473              1                 2             Clear
1874    12000025473              2                 1           Raining
1887    12000025628              2                 1           Raining
1888    12000025628              7                 2      Strong winds
2335    12000030958              1                 1             Clear
2336    12000030958              7                 2      Strong winds
2517    12000033162              2                 1           Raining
2518    12000033162              7                 2      Strong winds
2832    12000036765              2                 1           Raining
2833    12000036765              9                 2         Not known
2930    12000037734              1                 1             Clear
2931    12000037734              7                 2      Strong winds
3281    12001000864              1                 1             Clear
3282    12001000864              6                 2              Dust
3328    12001001290              2                 1           Raining
3329    12001001290              7                 2      Strong winds
3589    12001004199              2                 1           Raining
3590    12001004199              7                 2      Strong winds
3790    12001006492              1                 1             Clear
3791    12001006492              6                 2              Dust
...              ...           ...               ...               ...
310378  T20200014890             1                 0             Clear
310379  T20200014890             7                 1      Strong winds
310390  T20200014929             2                 1           Raining
310391  T20200014929             7                 2      Strong winds
310521  T20200015458             2                 0           Raining
310522  T20200015458             4                 1               Fog
310530  T20200015485             1                 1             Clear
310531  T20200015485             7                 2      Strong winds
310543  T20200015552             1                 0             Clear
310544  T20200015552             7                 1      Strong winds
310545  T20200015553             2                 0           Raining
310546  T20200015553             7                 1      Strong winds
310588  T20200015730             1                 0             Clear
310589  T20200015730             7                 1      Strong winds
310605  T20200015791             2                 0           Raining
310606  T20200015791             7                 1      Strong winds
310636  T20200015907             1                 0             Clear
310637  T20200015907             7                 1      Strong winds
310658  T20200015997             1                 0             Clear
310659  T20200015997             7                 1      Strong winds
310668  T20200016060             2                 0           Raining
310669  T20200016060             7                 1      Strong winds
310694  T20200016297             1                 0             Clear
310695  T20200016297             7                 1      Strong winds
310797  T20200016988             2                 1           Raining
310798  T20200016988             7                 2      Strong winds
310799  T20200016990             1                 0             Clear
310800  T20200016990             7                 1      Strong winds
310823  T20200017220             2                 0           Raining
310824  T20200017220             7                 1      Strong winds

[8307 rows x 4 columns]

In [117]:
# Join atmosphere info
data_df = data_df.merge(atmospheric_df[["accident_no","atmosph_cond","atmosph_cond_seq"]],how="left", left_on="accident_no", right_on="accident_no")
data_df

,accident_datetime,accident_no,node_id,light_condition,road_geometry,severity,speed_zone,road_type,road_type_int,atmosph_cond,atmosph_cond_seq
0,2000-01-01 00:10:00,52000000868,45897,3,2,3,60,NaN,NaN,NaN,NaN
1,2000-01-01 00:25:00,22000006737,38673,3,1,3,60,ROAD,ROAD,NaN,NaN
2,2000-01-01 00:30:00,12000002917,240,3,2,2,60,STREET,STREET,NaN,NaN
3,2000-01-01 00:30:00,22000002244,44474,3,1,3,60,STREET,STREET,NaN,NaN
4,2000-01-01 01:20:00,12000002253,35397,3,1,3,60,STREET,STREET,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
309989,2020-11-01 12:00:00,T20200019253,665836,1,5,2,80,HIGHWAY,ROAD,1.0,1.0
309990,2020-11-01 12:11:00,T20200019239,665835,1,5,2,50,AVENUE,STREET,1.0,0.0
309991,2020-11-01 15:30:00,T20200019247,665912,1,5,2,999,ROAD,ROAD,1.0,1.0
309992,2020-11-01 18:00:00,T20200019250,226603,1,1,2,60,ROAD,BOULEVARD,1.0,0.0
309993,2020-11-04 01:30:00,T20200019417,666096,3,5,2,80,ROAD,COURT,1.0,0.0

In [118]:
# Join location info
# Joining with accident_no causes tons of NAs
node_df = node_df.drop_duplicates(subset=["node_id"])
data_df = data_df.merge(node_df[["node_id","lga_name"]],how="left", left_on="node_id", right_on="node_id")
data_df

,accident_datetime,accident_no,node_id,light_condition,road_geometry,severity,speed_zone,road_type,road_type_int,atmosph_cond,atmosph_cond_seq,lga_name
0,2000-01-01 00:10:00,52000000868,45897,3,2,3,60,NaN,NaN,NaN,NaN,MORNINGTON PENINSULA
1,2000-01-01 00:25:00,22000006737,38673,3,1,3,60,ROAD,ROAD,NaN,NaN,HOBSONS BAY
2,2000-01-01 00:30:00,12000002917,240,3,2,2,60,STREET,STREET,NaN,NaN,MELBOURNE
3,2000-01-01 00:30:00,22000002244,44474,3,1,3,60,STREET,STREET,NaN,NaN,GEELONG
4,2000-01-01 01:20:00,12000002253,35397,3,1,3,60,STREET,STREET,NaN,NaN,PORT PHILLIP
...,...,...,...,...,...,...,...,...,...,...,...,...
309989,2020-11-01 12:00:00,T20200019253,665836,1,5,2,80,HIGHWAY,ROAD,1.0,1.0,EAST GIPPSLAND
309990,2020-11-01 12:11:00,T20200019239,665835,1,5,2,50,AVENUE,STREET,1.0,0.0,MELBOURNE
309991,2020-11-01 15:30:00,T20200019247,665912,1,5,2,999,ROAD,ROAD,1.0,1.0,GEELONG
309992,2020-11-01 18:00:00,T20200019250,226603,1,1,2,60,ROAD,BOULEVARD,1.0,0.0,WHITTLESEA
309993,2020-11-04 01:30:00,T20200019417,666096,3,5,2,80,ROAD,COURT,1.0,0.0,NaN

In [119]:
# Join surface info
data_df = data_df.merge(road_surface_cond[["accident_no","surface_cond"]],how="left", left_on="accident_no", right_on="accident_no")
data_df

,accident_datetime,accident_no,node_id,light_condition,road_geometry,severity,speed_zone,road_type,road_type_int,atmosph_cond,atmosph_cond_seq,lga_name,surface_cond
0,2000-01-01 00:10:00,52000000868,45897,3,2,3,60,NaN,NaN,NaN,NaN,MORNINGTON PENINSULA,NaN
1,2000-01-01 00:25:00,22000006737,38673,3,1,3,60,ROAD,ROAD,NaN,NaN,HOBSONS BAY,NaN
2,2000-01-01 00:30:00,12000002917,240,3,2,2,60,STREET,STREET,NaN,NaN,MELBOURNE,NaN
3,2000-01-01 00:30:00,22000002244,44474,3,1,3,60,STREET,STREET,NaN,NaN,GEELONG,NaN
4,2000-01-01 01:20:00,12000002253,35397,3,1,3,60,STREET,STREET,NaN,NaN,PORT PHILLIP,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
311524,2020-11-01 12:00:00,T20200019253,665836,1,5,2,80,HIGHWAY,ROAD,1.0,1.0,EAST GIPPSLAND,1.0
311525,2020-11-01 12:11:00,T20200019239,665835,1,5,2,50,AVENUE,STREET,1.0,0.0,MELBOURNE,1.0
311526,2020-11-01 15:30:00,T20200019247,665912,1,5,2,999,ROAD,ROAD,1.0,1.0,GEELONG,1.0
311527,2020-11-01 18:00:00,T20200019250,226603,1,1,2,60,ROAD,BOULEVARD,1.0,0.0,WHITTLESEA,1.0
311528,2020-11-04 01:30:00,T20200019417,666096,3,5,2,80,ROAD,COURT,1.0,0.0,NaN,1.0

In [124]:
data_df

,accident_no,node_id,light_condition,road_geometry,severity,speed_zone,road_type,road_type_int,atmosph_cond,atmosph_cond_seq,lga_name,surface_cond
accident_datetime,,,,,,,,,,,,
2000-01-01 00:10:00,52000000868,45897,3,2,3,60,NaN,NaN,NaN,NaN,MORNINGTON PENINSULA,NaN
2000-01-01 00:25:00,22000006737,38673,3,1,3,60,ROAD,ROAD,NaN,NaN,HOBSONS BAY,NaN
2000-01-01 00:30:00,12000002917,240,3,2,2,60,STREET,STREET,NaN,NaN,MELBOURNE,NaN
2000-01-01 00:30:00,22000002244,44474,3,1,3,60,STREET,STREET,NaN,NaN,GEELONG,NaN
2000-01-01 01:20:00,12000002253,35397,3,1,3,60,STREET,STREET,NaN,NaN,PORT PHILLIP,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2020-11-01 12:00:00,T20200019253,665836,1,5,2,80,HIGHWAY,ROAD,1.0,1.0,EAST GIPPSLAND,1.0
2020-11-01 12:11:00,T20200019239,665835,1,5,2,50,AVENUE,STREET,1.0,0.0,MELBOURNE,1.0
2020-11-01 15:30:00,T20200019247,665912,1,5,2,999,ROAD,ROAD,1.0,1.0,GEELONG,1.0
2020-11-01 18:00:00,T20200019250,226603,1,1,2,60,ROAD,BOULEVARD,1.0,0.0,WHITTLESEA,1.0
2020-11-04 01:30:00,T20200019417,666096,3,5,2,80,ROAD,COURT,1.0,0.0,NaN,1.0

In [123]:
data_df = data_df.set_index("accident_datetime")
data_df

KeyError: "None of ['accident_datetime'] are in the columns"

In [120]:
# Join person info
# Joining with accident_no causes tons of NAs
# node_df = node_df.drop_duplicates(subset=["node_id"])
# data_df = data_df.merge(node_df[["node_id","lga_name"]],how="left", left_on="node_id", right_on="node_id")
# data_df

In [ ]:
# Join vehicle info
# Joining with accident_no causes tons of NAs
# node_df = node_df.drop_duplicates(subset=["node_id"])
# data_df = data_df.merge(node_df[["node_id","lga_name"]],how="left", left_on="node_id", right_on="node_id")
# data_df